*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(83, 233, 176);
}
.container{
   display:flex
}

.janela1{
    width: 300px;
    height: 300px;
    background-color: rgb(87, 140, 240);
    text-align: center;
    background-color: rgb(196, 157, 233);
}
.janela2{
    width: 300px;
    height: 300px;
    background-color: rgb(10, 89, 236);
    text-align: center;
    background-color: rgb(130, 24, 230);
}

h1{
    color: rgb(51, 150, 175);
}

@media (max-width:650px){
body{
        background-color: rgb(80, 214, 231);
}
div{
    background-color: darkgrey;
}
h1{
    text-align: center;
    font-family: monospace;
}
.container{
    flex-wrap: wrap;
}
}